<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>MakeVisio</title>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome-all.min.css' %}">
	{% block head %}
    {% endblock %}
<script>
function audio_desc(element){
    const espeak_links = document.getElementById(element);
    espeak_links.play(); 
}
/*function audio_desc_list(object){
	object.forEach(function (value,index, array) {
		value.play()
	});
}*/

function show_content(element, text){
	var show_item = document.getElementById(element).innerHTML=document.getElementById(text).innerHTML;
}
/*function show_by_class(class_name){
	var items = document.getElementsByClassName(class_name)
	for(var i = 0; i<= items.length;i++){
		items[i].style.display = 'block'
	}

}*/
function getCoordinate(e) {
		  	var x = e.clientX;
		  	var y = e.clientY;
		  	var wt = screen.width;
		  	var ht = screen.height;
		 	//var coor = "Coordinates: (" + x + "," + y+" largura "+wt+" altura "+ht+" )";
  			//document.getElementById("demo").innerHTML = coor;
  			if(x <= 5){
  				const espeak_links = document.getElementById('esquerda');
  				espeak_links.play();
  			}
  			if(x >= wt-5){
  				const espeak_links = document.getElementById('direita');
  				espeak_links.play();
  			}
  			if(y <= 5){
  				const espeak_links = document.getElementById('topo');
  				espeak_links.play();
  			}
  			if(y == ht-5){
  				const espeak_links = document.getElementById('bottom');
  				espeak_links.play();
  			}
		}
function audio_stop(element){
	var audio = document.getElementById(element);
	audio.pause()
	audio.currentTime = 0;
}
function voltar(){
	window.history.back()
}
function desc_confirm(input){
	var audio
	var valor = document.getElementById(input)
	if(valor.value == ''){
		audio = document.getElementById('alert_input').play()
	}else{
		audio =document.getElementById('aguarde').play()
	}
}
</script>

</head>

<body onload="audio_desc('pronta')">
<div  onmousemove="getCoordinate(event)">
	<audio src="/media/sys/sys_input.wav" id="input"></audio>
	<audio src="/media/sys/sys_button.wav" id="button"></audio>
	<audio src="/media/sys/sys_beep.wav" id="beep"></audio>
	<audio src="/media/sys/sys_esquerda.wav" id="esquerda"></audio>
	<audio src="/media/sys/sys_direita.wav" id="direita"></audio>
	<audio src="/media/sys/sys_topo.wav" id="topo"></audio>
	<audio src="/media/sys/sys_bottom.wav" id="bottom"></audio>
	<audio src="/media/sys/sys_conteudo.wav" id="sys_conteudo"></audio>
	<audio src="/media/sys/sys_referencia.wav" id="sys_referencia"></audio>
	<audio src="/media/sys/sys_home.wav" id="home"></audio>
	<audio src="/media/sys/sys_logo.wav" id="logo"></audio>
	<audio src="/media/sys/sys_visitar.wav" id="visitar"></audio>
	<audio src="/media/sys/sys_links.wav" id="links"></audio>
	<audio src="/media/sys/sys_pronta.wav" id="pronta"></audio>
	<audio src="/media/sys/sys_aguarde.wav" id="aguarde"></audio>
	<audio src="/media/sys/sys_anterior.wav" id="anterior"></audio>
	<audio src="/media/sys/sys_alert_input.wav" id="alert_input"></audio>

	{% if page %}
		{% for atr in page %}
			<audio src="/{{ atr.items.all.0.path_audio }}" id="{{atr.items.all.0.path_audio}}"></audio>
			<audio src="/{{ atr.name_audio }}" id="{{atr.id_name}}"></audio>
		{% endfor %}
	{% endif %}

	{% if values %}
		{% for atrlink in values %}
			<audio src="/{{ atrlink.displayLink_audio }}" id="{{atrlink.displayLink_id}}"></audio>
			<audio src="/{{ atrlink.title_audio }}" id="{{atrlink.title_id}}"></audio>
			<audio src="/{{ atrlink.snippet_audio }}" id="{{atrlink.snippet_id}}"></audio>
		{% endfor %}

	{% endif %}


	<div class="container-fluid">
		<!--nav class="navbar navbar-light bg-light">
		  <a class="navbar-brand" href="{% url 'index' %}" onmouseover="audio_desc('home')">Makevisio</a>
		  <h1 onmouseover="audio_desc('logo')">Makevisio</h1>
		</nav-->
		<div class="row  justify-content-center">
			<nav class="navbar navbar-light bg-light d-flex ">
			  <form class="form-inline" method="POST" action="{% url 'buscar_item' %}" >
				{% csrf_token %}
				<input class="form-control mr-sm-2" type="search" placeholder="O que procura?" name="busca" onmouseover="audio_desc('input')" id="search_input" autofocus required>
			    <button class="btn btn-primary my-2 my-sm-0" type="submit" onclick="desc_confirm('search_input')" onmouseover="audio_desc('button')">Buscar</button>
			  </form>
			</nav>
		</div>
		<br/>
		<!--p id="demo"></p-->
	{% block body %}
    {% endblock %}

	</div>
	<script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'admin/js/myfunctions.js' %}"></script>
</div>
</body>
</html>
