{% extends "makevisio/base.html" %}
{% block head %}

{% endblock %}
{% block body %}
	

  <div class="row">
		<div class="col-md-4">
			<h2><a href="#" class="btn btn-primary btn-lg  btn-block active" onmouseenter="audio_desc('sys_referencia')"role="button" aria-pressed="true" >REFERÊNCIA</a></h2>
			{% if error %}
			<span>{{error}}</span>
			{% endif %}
			{% for key in page %}
				<span onmouseenter="audio_desc('content-resume')" onclick="show_content('show','{{key}}')" class="btn btn-primary btn-lg  btn-block active" role="button" aria-pressed="true">{{key|title}}</span>
			{% endfor %}	
				<!--span onmouseenter="audio_desc('content-resume')" onclick="show_content('show','links')" class="btn btn-primary btn-lg  btn-block active" role="button" aria-pressed="true">Links</span-->
        <!--span onmouseenter="audio_desc('content-resume')" onclick="show_content('show','{{page.h1}}')" class="btn btn-primary btn-lg  btn-block active" role="button" aria-pressed="true">Título página</span-->  
    </div>
		<div class="col-md-8">
			<h2><a href="#" class="btn btn-primary btn-lg  btn-block active" role="button" aria-pressed="true" onmouseenter="audio_desc('sys_conteudo')">CONTEÚDO</a></h2>
			<span id="show">
				<h1>CLIQUE EM UM LINK</h1>
			</span>
			{% for key, values in page.items %}
			<span id="{{key}}" style="display: none">
				{% if values.0 %}
				<p>{{ values }}</p>
				{% elif key == 'conteúdo' %}
					{% for v in values.items %}
					{% if v.1 %}
					<p>{{v.1}}</p>
					{% endif %}
					{% endfor %}
				{% else %}
				{% for keylink, valueslink in values.items %}
				<a href="{{ valueslink}}" class="btn btn-primary btn-lg  btn-block active" role="button" aria-pressed="true">{{keylink}}</a>
				{% endfor %}
				{% endif %}
			</span>
			{% endfor %}
   

		</div>			
	</div>
{% endblock body %}