{% extends "makevisio/base.html" %}
{% block head %}
<script>
function show_content(element, text){
	var show_item = document.getElementById(element).innerHTML=document.getElementById(text).innerHTML;
}
</script>
{% endblock %}
{% block body %}
  <div class="row">
		<div class="col-md-4">
			<h2><a href="#" class="btn btn-primary btn-lg  btn-block active" role="button" aria-pressed="true">REFERÊNCIA</a></h2>
			{% if error %}
			<span>{{error}}</span>
			{% endif %}
				<span onmouseenter="audio_desc('content-resume')" onclick="show_content('show','{{page.title}}')" class="btn btn-primary btn-lg  btn-block active" role="button" aria-pressed="true">Título</span>
        	<span onmouseenter="audio_desc('content-resume')" onclick="show_content('show','links')" class="btn btn-primary btn-lg  btn-block active" role="button" aria-pressed="true">Links</span>
        <!--span onmouseenter="audio_desc('content-resume')" onclick="show_content('show','{{page.h1}}')" class="btn btn-primary btn-lg  btn-block active" role="button" aria-pressed="true">Título página</span-->  
    </div>
		<div class="col-md-8">
			<h2><a href="#" class="btn btn-primary btn-lg  btn-block active" role="button" aria-pressed="true">CONTEÚDO</a></h2>
			<span id="show">
				<h1>CLIQUE EM UM LINK</h1>
			</span>
			<span id="{{page.title}}" style="display: none">
				<p>{{ page.title }}</p>
			</span>
      <!--span id="{{page.h1}}" style="display: none">
				<p>{{ page.title }}</p>
			</span-->
      <span id="links" style="display: none">
      {% for link in page.links %}
			  {{ link }}
      {% endfor %}
			</span>

		</div>			
	</div>
{% endblock body %}